<div class="link-back">
  <%= link_to raw('&#8592; Back to the Posts'), posts_path %>
</div>

<div class="page-header">
  <%= post.title_h1 %>
</div>

<div class="post-body">
  <%= post.body %>
</div>

<%= render partial: 'comments/embedded', locals: { comments: post.comments } %>
<%= render partial: 'comments/form', locals: { post: post } %>
